

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-480289115435172898.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-480289115435172898.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-480289115435172898.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-480289115435172898.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-480289115435172898.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-480289115435172898.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-480289115435172898.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-480289115435172898.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-480289115435172898.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-480289115435172898.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-480289115435172898.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-480289115435172898.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-480289115435172898.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-480289115435172898.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-480289115435172898.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-480289115435172898.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-480289115435172898.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-480289115435172898.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-480289115435172898.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-480289115435172898.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-480289115435172898.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-480289115435172898.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-480289115435172898.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-480289115435172898.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-480289115435172898.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-480289115435172898.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-480289115435172898.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-480289115435172898.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-480289115435172898.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-480289115435172898.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-480289115435172898.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-480289115435172898.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-480289115435172898.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-480289115435172898.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-480289115435172898.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-480289115435172898.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-480289115435172898.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-480289115435172898.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-480289115435172898.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-480289115435172898.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-480289115435172898.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-480289115435172898.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-480289115435172898.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-480289115435172898.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-480289115435172898 .gp-relative{position:relative}.gps-480289115435172898 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-480289115435172898 .gp-mb-0{margin-bottom:0}.gps-480289115435172898 .\!gp-inline{display:inline!important}.gps-480289115435172898 .gp-flex{display:flex}.gps-480289115435172898 .gp-grid{display:grid}.gps-480289115435172898 .\!gp-hidden{display:none!important}.gps-480289115435172898 .gp-hidden{display:none}.gps-480289115435172898 .gp-h-full{height:100%}.gps-480289115435172898 .gp-w-full{width:100%}.gps-480289115435172898 .gp-max-w-full{max-width:100%}.gps-480289115435172898 .gp-flex-col{flex-direction:column}.gps-480289115435172898 .gp-gap-y-0{row-gap:0}.gps-480289115435172898 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-480289115435172898 .gp-duration-200{transition-duration:.2s}.gps-480289115435172898 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-480289115435172898 .tablet\:\!gp-hidden{display:none!important}.gps-480289115435172898 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-480289115435172898 .mobile\:\!gp-hidden{display:none!important}.gps-480289115435172898 .mobile\:gp-hidden{display:none}}.gps-480289115435172898 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="efb1b21a9e"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(254, 254, 254)"
        class="efb1b21a9e gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-2246dd1bd7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g-GyY1YKHv"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "480285203374277429-e350e660-6b22-49a5-ae20-ceda6674fb92.png" | asset_url }}" width="2600" height="800" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2600/800;--aspect-tablet:2600/800;--aspect-mobile:2600/800;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "480285203374277429-e350e660-6b22-49a5-ae20-ceda6674fb92.png" | asset_url }}" data-srcset="{{ '480285203374277429-e350e660-6b22-49a5-ae20-ceda6674fb92.png' | asset_img_url: '768x768' }} 768w, {{ '480285203374277429-e350e660-6b22-49a5-ae20-ceda6674fb92.png' | asset_img_url: '1024x1024' }} 1024w, {{ '480285203374277429-e350e660-6b22-49a5-ae20-ceda6674fb92.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2600" height="800" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2600/800;--aspect-tablet:2600/800;--aspect-mobile:2600/800;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-480289115435172898 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/coegawear/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=480285279760941877&sectionId=480289115435172898)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
